{% extends 'base.html' %} {% block content %}
<h2>Upload New App</h2>
<form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="mb-3">{{ form.name.label }} {{ form.name(class="form-control") }}</div>
    <div class="mb-3">{{ form.description.label }} {{ form.description(class="form-control") }}</div>
    <div class="mb-3">{{ form.image.label }} {{ form.image(class="form-control") }}</div>
    <div class="mb-3">{{ form.file.label }} {{ form.file(class="form-control") }}</div>
    {{ form.submit(class="btn btn-success") }}
</form>
{% endblock %}